body{
    background-color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.App{
    text-align: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#btn{
    color: black;
    background-color:transparent; 
    border-radius: 5px;
    border-style: solid;
    border-color: red;
}
#btn:hover{
    background-color: red;
}
.getData{
    width: 100px;
    height: 50px;
    background-color: rgb(246, 187, 59);
    padding: 5px;
    border-radius: 7px;
    margin-top: 5px;
}
.shapeC{
    color: black;
    background-color: aliceblue;
    height: 350px;
    width: 350px;
    border-radius:7px ;
    border-style: solid;
    margin: 10px;
}
#sdata{
    font-weight: 700;
}
#showCd{
    font-weight: 500;
}

@media screen and (max-width:600px){
    .shapeC{
        color: black;
        background-color: aliceblue;
        height: 300px;
        width: 300px;
        border-radius:7px ;
        border-style: solid;
    } 
}