.App{
    text-align: center;
    width: 100%;
    height: 100%;
}
h2{
    position: absolute;
    left: 43%;
}
h4{
    position: absolute;
    top: 80%;
    left: 32%;
}
#btn{
    color: rgba(85, 72, 72, 0.918);
    background-color: rgb(235, 215, 174); 
    border-radius: 7px;
}
.getData{
    position: absolute;
    top: 12%;
    left: 44%;
    width: 100px;
    height: 50px;
    /* height: max-content; */
    background-color: rgb(246, 187, 59);
    padding: 5px;
    border-radius: 7px;
}
.shapeC{
    position: absolute;
    top:25%;
    left: 35%;
    color: black;
    background-color: aliceblue;
    height: 350px;
    width: 350px;
    border-radius:7px ;
    border-style: solid;
}
#sdata{
    font-weight: 700;
}
#showCd{
    font-weight: 500;
}