body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url(./assets/img6.jpg); */
    background-color: #2E1643;
    /* background: url(./assets/img8.jpg);
    background-size: cover; */
}
h2{
    color: #fffade;
    border-style: double;
    border-radius: 7px;
    border-color: darkcyan;
    padding: 5px;
    border-width: thick;
}
h4{
    background-color:#CEC2D8;
    padding: 0;
    width: initial;
    border-radius: 7px;
    color: rgb(40, 40, 75);
    border-style: dashed;
    opacity: 0.8;
}
.App{
    text-align: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#btn{
    color: aliceblue;
    background-color:transparent; 
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(83, 83, 117);
}
#btn:hover{
    background-color:grey;
}
.data{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: start;
    text-align: center;
}
.showTime{
color: #CEC2D8;
padding: 10px;
margin: 5px;
margin-left: 15px;
margin-right: 9px;
font-size: large;
font-weight: 700;
}
.getData{
    width: 100px;
    height: 50px;
    background-color:#51183D;
    color: #CEC2D8;
    padding: 5px;
    border-radius: 7px;
    margin-top: 5px;
    border-style: dashed;
    opacity: 0.7;
}
.shapeC{
    color: black;
    background-color: #FF5E3F;
    height: 300px;
    width: 300px;
    border-radius:7px ;
    border-style: solid;
    border-width: medium;
    margin: 10px;
    opacity: 0.7;
    perspective: 1000px;
    
}
#sdata{
    font-weight: 700;
}
#showCd{
    font-weight: 500;
}

/* @media screen and (max-width:600px){
    .shapeC{
        color: black;
        background-color: aliceblue;
        height: 300px;
        width: 300px;
        border-radius:7px ;
        border-style: solid;
    } 
} */